*{
    font-family: Arial, sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

input{
    width: 200px;
}

h4{
    position: static;
    color: red;
}

html{
    background-color: whitesmoke;
}

#pag-cont {
    /*border: green solid 4px;*/
    margin: 0;
    width: 32vw;
    height: 48vh;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#vent-cartel{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 4px black solid;
    border-radius: 3%;
    height: 256px;
}

#vent-cartel h2{
    margin-bottom: 20px;
    font-size: 32px;
}

/*-----------------------------------------*/
/*Botones*/
button, #btnSubmit{
    margin-top: 30px;
    border: 0px white solid;
    color: white;
    width: 70%;
    height: 40px;
    border-radius: 2%;
    cursor: pointer;
    background-color: blue;
}

button:hover, #btnSubmit:hover{
    background-color: cornflowerblue;
}

button:active, #btnSubmit:active{
    background-color: black;
    color: white;
    transition-duration: 0.1s;
}
