    <header>
        <!-- cargar imagen de proyecto luego <div>
            <img class="image-logo" src="img/logo.png" alt="">
            <p>Suplementos y equipamientos deportivos</p>
        </div> -->

        <ul id="listado-nav">

            <a href="/dashboard">
                <li class="links-header"><span>Listado</span></li>
            </a>
            
            <a href="/dashboard/consultar">
                <li class="links-header"><span>Consultar</span></li>
            </a>
            <a href="/dashboard/crear">
                <li class="links-header"><span>Crear</span></li>
            </a>
            
            <a href="/dashboard/modificar">
                <li class="links-header"><span>Modificar</span></li>
            </a>

            <a href="/dashboard/eliminar">
                <li class="links-header"><span>Eliminar</span></li>
            </a>
        </ul>
    </header>