#pag-header{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    border: 1px solid red;
    border-bottom: 6px solid black;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    margin-bottom: 2%;
    height: 19vh;
    background-color: white;
}

#pag-header div{
    width: 256px;
}

#pag-header img{
    width: 48px;
    height: 48px;
}

/*Desplegable*/
#pag-nav-titulo{
    cursor: default;
}

#pag-nav-opciones {
    display: block;
    position: absolute;
    margin-left: -3px;
    background-color: white;
    border: 3px rgba(0,0,0,0.0) solid;
    color: rgba(0,0,0,0.0);
    border-radius: 10%;
    height: 1px;
    overflow: hidden;
    z-index: 20;
}

#pag-nav:hover #pag-nav-opciones {
    border: 3px black solid;
    color: rgba(0,0,0,1.0);
    height: auto;
    transition-duration: 0.1ms;
}

#pag-nav-opcion  {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0;
    cursor:pointer;
    text-align: center;
    justify-content: center;
}

#pag-nav-opcion:hover {
    transition-duration: 0.15s;
    background-color: darkgray;
}

#pag-header-carrito img{
    cursor: pointer;
}