#pag-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 102%;
}

#listado-label{
    margin-bottom: -12px;
    background-color: white;
    padding: 25px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-left: 4px darkgray solid;
    border-right: 4px darkgray solid;
    border-top: 4px darkgray solid;
    z-index: 3;
}

#lista-productos {
    border: 4px darkgray solid;
    border-radius: 3%;
    width: 90vw;
    height: auto;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    margin: 8px 2px 56px 2px;

    min-height: 208px;
}

#lista-productos-label{
    align-self: center;
    text-align: center;
    font-size: 25px;
}

#lista-productos-error{
    color: red;
}

#tarjeta-producto{
    border: 4px solid black;
    border-radius: 12.5%;
    width: 200px;
    height: 256px;
    margin: 25px 12px;
    text-align: center;
    align-self: center;
    background-color: inherit;
}

#tarjeta-producto-imagen{
    width: 96px;
    height: 96px;
    border: 4px darkgray solid;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 14px;
}

#tarjeta-producto-nombre{
    margin: 10px 0 10px 0;
    height: 48px;
    align-content: center;
    background-color: transparent;
}

#tarjeta-producto-precio{
    background-color: transparent;
}

/*-----------------------------------------*/
/*Botones*/
#tarjeta-producto-agr, #tarjeta-producto-elm{
    margin-top: 0;
    border: 0px white solid;
    color: white;
    width: 80%;
    height: 32px;
    cursor: pointer;
}

#tarjeta-producto-agr{
    background-color: green;
}

#tarjeta-producto-elm{
    background-color: red;
}

/*Hovers*/
#tarjeta-producto-agr:hover, #tarjeta-producto-elm:hover{
    color: white;
}

#tarjeta-producto-agr:hover{
    background-color: greenyellow;
}

#tarjeta-producto-elm:hover{
    background-color: salmon;
}

/*Active*/
#tarjeta-producto-agr:active, #tarjeta-producto-elm:active{
    background-color: black;
    color: white;
    transition-duration: 0.1ms;
}